.dwglist
  if files.length
    //p.dwglist #{files.length} 件
    ul
      for file in files
        li
          div
            a(href= file.url)
              img(src="data:image/png;base64,#{file.preview}")
            .fileinfo
              table.fileinfo
                tr
                  th ファイル名：
                  td 
                    a(href= file.url)  #{file.filename}
                tr
                  th 登録日：
                  - var display = file.entrydate.toLocaleDateString("ja-JP") + file.entrydate.toLocaleTimeString("ja-JP");
                  td #{display}
                tr
                  th 登録者：
                  td #{file.registrant}
                tr
                  th サイズ：
                  td #{file.size} bytes
                tr
                  th コメント:
                  td #{file.description}
              p
                a(href= file.svgurl, target="_blank") [全画面表示]
    //p.dwglist １件目から #{files.length}件目を表示しています。
  else
    p.dwglist 登録なし。
